version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: aiscribe
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ai-service:
    build: ./ai-service
    ports:
      - "8000:8000"
    environment:
      - HF_TOKEN=${HF_TOKEN}
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface # Persist downloaded models

volumes:
  postgres_data:
